---
title: it takes some love 
permalink: /index.html
---

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="css/main.css">
<script src="js/three.r119.min.js"></script>
<script src="js/fog.js"></script>
</head>
<body>
<div class="back"><p>invisible</p></div>
<main class="wrapper">
{% for item in story %}
  <section class="frame" id="id-{{item.id}}">
  <aside>
  {# first/last/next/previous from json #} 
  {% set last = story.length %}
  {% set next = item.id + 1 %}
  {% set previous = item.id - 1%} 
  {% if previous != 0 %}
    <a href="#id-{{previous}}">previous</a>

  {% else %} <a href="#id-{{item.id}}">first</a>
  {% endif %}
  {% if next != last %}

    <a href="#id-{{next}}">next</a>


  {% else %} <a href="#id-{{item.id}}">last</a>
  {% endif %}

  </aside>

  <p class="id">{{item.id}}</p>
  {% for img in item.assets %}
    <img style="--x: {{img.x}}; --y:{{img.y}};" src="images/{{img.src}}" id="{{item.id}}-{{img.id}}"> 
  {% endfor %}
  </section>
{% endfor %}
</main>
<script src="/js/main.js"></script>
<script>
VANTA.FOG({
el: ".back",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  highlightColor: 0x9b8f6f,
  midtoneColor: 0xaf8c88,
  lowlightColor: 0x6a6193,
  blurFactor: 0.56,
  speed: 1.60,
  zoom: 2.40
})
</script>
</body>
</html>
