--- 
title: it takes some love 
permalink: /story.html
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


{% for item in story %}
  {{item.assets | log}}
  <section class="frame">
  <p class="id">{{item.id}}</p>
  {% for img in item.assets %}
    <img src="{{img.src}}" class="{{img.src}}" id="id"> 
  {% endfor %}
  </section>
{% endfor %}

</body>
</html>  
